@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body, html {
	overflow: hidden;
}

.background {
	opacity: 0.7;
    height: 650px;
    width: 280px;
	left: 83.7%;
	position: absolute;
	top: 38.9%;
	border: 3px solid whitesmoke;
}

.general {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.esx {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.jobs {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.vehicleControls {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.character {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.deleteCharacter {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.doorControls {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.individualDoorControls {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.windowControls {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.individualWindowControls {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

.interactions {
	font-family: 'Roboto', sans-serif;
	height: 500px;
	background-image: url("bg.jpg");
	color: white;
	left: 70.4%;
	width: 800px;
	position: absolute;
	top: 50%;
}

/* main.css */
button {
	margin: 1px auto;
	padding: 10px 24px;
	cursor: pointer;
	width: 30%;
	display: block;
	text-transform: uppercase;
	font-family: 'Unica One', cursive;
	font-size: 12px;
	border: 1px solid whitesmoke;
	color: whitesmoke;
    background-color: #002e4d;
    border-radius: 25px;  
}

.delete {
	font-family: 'Unica One', cursive;
	font-size: 12px;
	margin: 1px 1px;
	padding: 10px 24px;
	background: ;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	width: 240px;
	position: relative;
	top: 49.3%;
	left: 85.25%;

}

#close {
	display: inline-block;
	float: right;
	padding: 5px;
	padding-right: 10px;
	color: rgb(255, 0, 0);
}


/* change look of buttons when hovering over them */
button:hover {
	background-color: #005c99;
}